.videolist {
  &__container {
    padding: 0rem 1rem;
    width: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
  }
  h2 {
    padding-left: 1rem;
    font-size: 13px;
  }
  h3 {
    padding-left: 1rem;
    font-size: 13px;
    font-weight: 100;
  }
}

//perhaps set the height and width of the image container as fixed,then scale the image at height and width of 100% from there, making the container larger as we go?
.videolist__img__container {
  padding-top: 0.75rem;
}

.videolist__img {
  height: 4rem;
  // width: 100%;
  background-size: cover;
  width: 6rem;
  border-radius: 4px;
}
