@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.videolist {
  @include small-tablet {
    padding: 0rem 1.5rem;
  }
  @include tablet {
    padding: 0.5rem 2rem;
  }
  @include desktop {
    padding: 0.5rem 3rem;
  }
  &__header {
    padding-left: 1rem;
  }
  &__container {
    padding: 0rem 1rem;
    max-width: 17.5rem;
    @include midsize-phone {
      width: 18.75rem;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
  }
  h2 {
    font-size: 0.8125rem;
  }
  h3 {
    font-size: 0.8125rem;
    font-weight: 100;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
.videolist__img__container {
  padding-top: 1rem;
}

.videolist__img {
  height: 4rem;
  width: 6rem;
  border-radius: 4px;
}
