.videolist {
  &__container {
    padding: 0rem 1rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    font-size: 13px;
  }
}

.videolist__img__container {
  padding-top: 0.75rem;
}

.videolist__img {
  height: 4rem;
  width: 6rem;
  border-radius: 4px;
}

//need to make a container for the images and then space out the menu from there.
