.section-container {
  padding: 0.5rem 1rem;
}

img {
  height: 300px;
  width: 300px;
}

.header__button__icon {
  width: 30px;
  height: 30px;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.buttonflex {
  display: flex;
  flex-direction: column;
}
