@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "AvenirNext LT Pro";
//   src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

//need to import the demi font from the bandsite
//need to fix why this isnt working above for parts of the site
