@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
