@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.main {
  padding: 1rem;
  &__header {
    font-size: 1.5rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
}

h3,
p {
  font-size: 13px;
}

.main__right {
  padding-right: 2rem;
}
