.main {
  padding: 1rem;
  &__header {
    font-size: 1.5rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

h3,
p {
  font-size: 13px;
}

.main__right {
  padding-right: 2rem;
}
