* {
  border: 1px solid green;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  &__container {
    // height: 100%;
    // display: flex;
    // // align-items: center;
    // flex-direction: column;
  }
  &__img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  &__button {
    width: 12rem;

    background-color: blue;
    color: white;
  }
  &__search {
    background: url(../../assets/images/Icons/search.svg);
    background-repeat: no-repeat;
  }
}

// make magnifying glass background of input tag
