.header {
  padding: 0rem 1rem;
  &__container {
    width: 100%;
    justify-content: center;
  }
  &__logo__container {
    display: flex;
    justify-content: center;
  }
  &__logo__img {
    height: 2rem;
  }
  &__search__container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__img {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-left: 1.25rem;
  }
  &__button {
    width: 20rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #0095ff;
    color: #ffffff;
    position: relative;
  }
  &__button__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__button__container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &__search {
    background-repeat: no-repeat;
    background-image: url(../../assets/images/Icons/search.svg);
    background-size: 1.5rem;
    background-position: 10px 50%;
    width: 80%;
    padding: 0.5rem 0rem 0.5rem 2.5rem;
    border-radius: 4px;
    font-size: 1.2rem;
  }
}
