@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.posted {
  font-size: 13px;
  padding: 0rem 1rem;
  @include small-tablet {
    padding: 0rem 1.5rem;
  }
  @include tablet {
    padding: 0.5rem 2rem;
  }
  @include desktop {
    padding: 0.5rem 3rem;
  }
  &__container {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  &__img {
    align-self: flex-start;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin: 1rem 1rem 0rem 0rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
}
