.posted {
  font-size: 13px;
  padding: 0rem 1rem;
  &__container {
    display: flex;
  }
  &__img {
    align-self: flex-start;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin: 1rem 1rem 0rem 0rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
}
